# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/static/js/main.b91333fb.chunk.js.map
build/static/css/main.c2f129b2.chunk.css.map
build/static/js/main.b91333fb.chunk.js
build/static/css/main.c2f129b2.chunk.css
build/precache-manifest.9054a1dfc1f31edb79e376a79ef2f32f.js
